extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	.container-fluid.pl-0.pr-0
		.row
			.col
				.img-fluid
					img(src="./img/baner.png", alt="", srcset="")
	.content
		.container
			.row
				.col
					.heading
						h1 FullStack Chuyên Nghiệp
			.row
				.col-sm-4
					.lock
						.lockmedia
							figure
								img(src="./img/content1.png", alt="", srcset="")
						.div.lockcontent
							b Trung tâm đào tạo IT chuyên nghiệp
							p Reference site about lorem ipsum giving information on its origins,as well as a random Lipsum generator.
							br
							| Reference site about lorem ipsum giving information on
				.col-sm-4
					.lock
						.lockmedia
							figure
								img(src="./img/content2.png", alt="", srcset="")
						.div.lockcontent
							b Trung tâm đào tạo IT chuyên nghiệp
							p Reference site about lorem ipsum giving information on its origins,as well as a random Lipsum generator.
							br
							| Reference site about lorem ipsum giving information on
				.col-sm-4
					.lock
						.lockmedia
							figure
								img(src="./img/content3.png", alt="", srcset="")
						.div.lockcontent
							b Trung tâm đào tạo IT chuyên nghiệp
							p Reference site about lorem ipsum giving information on its origins,as well as a random Lipsum generator.
							br
							| Reference site about lorem ipsum giving information on
			.icon.


