header
	background: #ffffff
	nav.navbar
		ul.navbar-nav
			li.nav-item
				a
					color: #000000
					margin-bottom:  0rem
					position: relative
					margin-top: 0.5rem
					margin-right: 1rem
					text-align: center
				hr
					border-top: 0px
					color: #ffffff
				&:hover
					opacity: 1
					a
						color: #841f93
					hr
						position: absolute
						opacity: 1
						border: 1px solid #841f93
						width: 3.5rem
						margin: -3.5rem 0px 3rem 0rem
						

body
	background: #dfdfdf
	.baner
		.item
			position: relative
			figure
				.img-fluid
					max-width: 100%
					margin-top: -2rem
	.content
		.heading
			text-align: center
			h1
				padding-top: 3rem
				margin-bottom: 3rem
				&:after
					content: ""
					display: block
					background: #ffffff
					border: 1px solid #841f93
					width: 5rem
					position: absolute
					left: 43%
					bottom: 2rem
					transform: translateX(50%)
		.lock
			position: relative
			.lockmedia
				padding-right: 1rem
				width: 355px
				height: 213px
				img
					border-radius: 3%
			&:hover
				.lockmedia
					background: #000000
					border-radius: 3%
					width: 355px
					height: 212px
					figure
						position: absolute
						opacity: 0.5
					&:after
						position: absolute
						content: ""
						display: block
						height: 2rem
						border: 3px solid #ffffff
						width: 2rem
						left: 47%
						top: 7rem
						transform: translateX(-50%)
						transform: translatey(-50%)
						border-radius: 45% 0% 45% 0%
						transform: rotate(45deg)
					&:before
						position: absolute
						content: ""
						display: block
						height: 20px
						background: #ffffff
						width: 20px
						left: 51%
						top: 7rem
						transform: translatey(-50%)
						transform: translatex(-50%)
						border-radius: 50%
			.div.lockcontent
				margin-top: 1rem
				p
					margin-bottom: -1rem
			&:hover
				b
					color: #841f93
