footer.footer
	.container-fluid
		.row
			.col-sm-1
			.col-sm-4
				.text
					h1 FullStack Vietnam
					p Mobile:+83123456789 
					p Mail : admin@fullstackvietnam.com
					p Địa chỉ : 28 Đường số 2 - CITYLAND - Phường 2 - Gò Vấp - HCM

			.col-sm-3
				.text
					h1 Link
					p Khóa học fontend Master
					p Khóa học Full stack Developer
					p Khóa Học design chuyên nghiệp
					p Lịch khai giảng
					p Đăng kí khóa học
			.col-sm-
				.text
					h1 .
					p Khóa học fontend Master
					p Khóa học Full stack Developer
					p Khóa Học design chuyên nghiệp
					p Lịch khai giảng
					p Đăng kí khóa học
