<!-- ////////////// HEADER ////////////// -->
header
	.container
		nav.navbar.navbar-expand-lg.navbar-light
			a.navbar-brand(href="#")
				img(src="./img/logo.png", alt="")
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				.mr-auto
				ul.navbar-nav
					li.nav-item
						a.nav-link(href="#")
							h5 Home
							hr
					li.nav-item
						a.nav-link(href="#")
							h5 Services
							hr
					li.nav-item
						a.nav-link(href="#")
							h5 About
							hr
					li.nav-item
						a.nav-link(href="#")
							h5 Contact
							hr
					
<!-- ////////////// HEADER ////////////// -->
